/* CSS Básico a ser alterado */

  :root {
    --bs-primary: #c9c9c9; 
    --bs-primary-rgb: 255, 87, 51; 
    --bs-secondary: #3d3d3d; 
    --bs-link-color: #1e90ff; 
    --bs-footer-bg: #000; 
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body {
    height: 100%;
    
  }
  
  body {
    font-family: 'Gotu';
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;

  }

  @import 'variables';
  @import 'base';

  /* Main */
  .main-content {
    flex: 1;
    min-height: calc(100vh - 60px);
    padding: 1.25rem;
    max-width: 56.25rem;
    margin: 0 auto;
  }

  /* Header */

  .header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    font-family: 'Gotu';
    font-size: 2rem;
    font-weight: bold;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    color: #000;
    padding: 1.25rem 0.625rem;
    border-bottom: 0.0625rem solid #ddd;
  }
  
  header h1 {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    font-family: 'Gotu';
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.625rem;
  }
  
  header p {
    font-family: 'Gotu';
    font-size: 1rem;
    font-weight: 300;
    color: #666;
  }
  
  
  /* Conteúdo principal */
  
  main section {
    background: #fff;
    border: 0.0625rem solid #ddd;
    border-radius: 0.5rem;
    padding: 1.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    margin-bottom: 1.25rem;
  }
  
  main p {
    font-size: 1.125rem;
    color: #555;
    text-align: center;
  }

  .main-content p {
    font-size: 1.125rem;
    color: #555;
    text-align: center;
  }

  .main-content h2 {
    font-size: 1.5rem;
    color: #555;
    text-align: center;
  }

  /* Sidenav */
  .sidenav {
    width: 15.625rem;
    height: 100vh;
    position: fixed;
    top: 0; 
    left: 0;
    background-color: #343a40;
    color: white;
    padding-top: 1.25rem;
    transform: translate(-100%);
    transition: transform 0.3s ease-in-out; /* animação visual */
    z-index: 1050;
  }

  .sidenav.show {
      transform: translateX(0);
  }
  
  .sidenav.disabled {
      pointer-events: none;
      opacity: 0.5;
  }

  .sidenav a {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    color: white;
    padding: 0.625rem;
    text-decoration: none;
  }

  .sidenav span {
    font-family: 'Gotu';
    font-weight: 600;
  }

  .sidenav-header {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    font-size: 1.2rem;
    padding: 0.9375rem; /* 15px -> 0.9375rem */
    border-bottom: 0.0625 solid #555;
  }

  .sidenav .nav-link {
      color: white;
  }
  .sidenav .nav-link:hover {
      background-color: rgba(255, 255, 255, 0.1);
  }

  /* Header para mobile */
  .mobile-header {
      display: none;
      align-items: center;
      justify-content: space-between;
      position: fixed;
      top: 0;
      height: 3.125rem;
      width: 100%;
      background-color: #343a40;
      color: white;
      padding: 0.625rem;
      z-index: 1000;
  }

  .mobile-header span {
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
  }

  .menu-btn {
      background: none;
      border: none;
      color: white;
      font-size: 1.5rem;
      cursor: pointer;
  }
  
  /* Footer */
  footer {
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 0.625rem 0;
    border-top: 0.625rem solid #222;
  }
  
  /* Links */
  a {
    color: #1e90ff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Botões */
  .btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary)
  }
  
  .btn-primary:hover {
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);
  }

  /* Centralização de texto e espaçamento */
  .text-center {
    text-align: center;
  }

  .py-3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  /* Modal */
  .modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
    
  .modal-content {
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
  }

  .modal-header {
    background-color: #f8f9fa;
    border-bottom: 0.0625rem solid #dee2e6;
  }

  .modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    text-align: center;
    overflow: auto;
  }


  .modal-img .modal-body img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }

  /* Responsividade */
  @media (max-width: 1023px) {
    .sidenav {
      transform: translateX(-100%); /* Sidenav aparece invisível em telas menores */
      width: 12.5rem;
      top: 3.125rem;
    }
  }  
  
  @media (min-width: 1024px) {
    .sidenav {
      transform: translateX(0); /* Sidenav aparece somente em telas maiores */
    }
  }
 

  /* Estilos para quando a tela for mobile */
  @media (max-width: 1023px) {
    .mobile-header {
      display: flex;
    }
    
    .main-content {
      margin-top: 3.125rem;
    }

    .sidenav {
      transform: translateX(-100%);
      width: 12.5rem;
      top: 3.125rem;
    }
  }
  
  @media (min-width: 1024px) {
    .image-container {
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      text-align: left;
    }
  
    .modal-body .row {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .modal-body .col-md-6 {
      flex: 1;
    }
  }
  
  /* Formulário */
  #cadastro {
    max-width: 31.25rem;
    margin: 0 auto;
  }

  /*Validação dos campos destacando os válidos e inválidos*/
  input:invalid {
    border-color: red;
  }
  input:valid {
    border-color: green;
  } 

  .error-message {
    color: red;
    font-size: 0.875em;
    display: none;
  }

  input:invalid + .error-message {
    display: block;
  }

  #info {
    max-width: 37.5rem; 
    background: #fff; 
    border-radius: 0.5rem; 
    padding: 1.25rem; 
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1); 
    text-align: center; 
  }

  #usuarioDados {
    font-family: 'Gotu';
    font-size: 1.1rem;
    padding: 0.9375rem;
    border-radius: 0.3125rem;
  }

  @media (max-width: 768px) {
    #info {
        max-width: 90%; 
        padding: 0.9375rem;
    }
  }
